{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<h1>About Playbox</h1>
<p>Playbox Theater is a company dedicated to producing fresh, original theatrical work.</p>
{% endblock %}
